<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIF</title>
</head>
<style>
    @media screen and (max-width: 800px) {
        .mobile-text {
            font-size: 16px !important;
            padding: 0 15px !important;
        }
    }
</style>

<body style="padding: 0; margin: 0; height: 100%">
    <div style=" background-image: url('./Images/BG.png'); background-size: cover; padding: 56px; ">
        <div style="background-color: #fff; padding: 56px">
            <div style="display: flex; justify-content: space-between">
                <div>
                    <img src="./Images/PIF_Logo.png" width="144" height="144" />
                    <img src="./Images/PIF.png"
                         width="144"
                         height="112"
                         style="padding: 0 24px" />
                </div>
                <div>
                    <img src="./Images/Platform_Logo.png" width="325" height="122" />
                </div>
            </div>

            <div style="padding: 56px 0">
                <div class="mobile-text"
                     style="
              color: #00342b;
              font-family: Fund;
              font-size: 32px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              padding: 15px 0;
            ">
                    Dear {PC Name},
                </div>

                <div class="mobile-text"
                     style="
              color: #00342b;
              font-family: Fund;
              font-size: 32px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              padding: 15px 0;
            ">
                   
                   
                    <p>Thank you for your submission.</p>

                    <p>
                        After review, your
                        <strong>{Submission Type}:  {Title}</strong>
                        was not approved.
                    </p>

                    <p class="reason">
                        Reason: {Reason}
                    </p>

                </div>

                <div class="mobile-text"
                     style="
              color: #00342b;
              font-family: Fund;
              font-size: 32px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              padding: 15px 0;
            ">
                    You may view the request details using the link below: View Request <a style="color: #00342b;
                                                   text-decoration: underline;
                                                    font-weight: 600;" href="{BaseURL}/synergy/{module}/{request-id}">( Link )</a> to access the request.
                </div>
            </div>

            <hr style="height: 1px; border: none; background-color: #dfe3e6" />

            <div style="padding: 56px 0">
                <div style="
              color: #00342b;
              font-family: Fund;
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding: 0 30px;
            ">
                    Need help?
                </div>

                <div style="
              color: #00342b;
              font-family: Fund;
              font-size: 20px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              padding: 0 30px;
            ">
                    Contact the support team and they will be happy to assist.
                </div>
            </div>

            <hr style="height: 1px; border: none; background-color: #dfe3e6" />

            <div style="padding: 40px 0; text-align: right; direction: rtl">
                <div class="mobile-text"
                     style="
              color: #00342b;
              font-family: Fund;
              font-size: 24px;
              font-weight: 400;
              line-height: 1.6;
              margin-bottom: 10px;
            ">
                    عزيزي {PC Name}،
                </div>

                <div class="mobile-text"
                     style="
              color: #00342b;
              font-family: Fund;
              font-size: 24px;
              font-weight: 400;
              line-height: 1.6;
              margin-bottom: 10px;
            ">
                   
                </div>


                <p>عزيزي {PC Name}،</p>

                <p>نشكر لكم تقديم الطلب.</p>

                <p>
                    بعد المراجعة، لم تتم الموافقة على
                    <strong>{Submission Type}</strong>.
                </p>

                <p class="reason">
                    سبب الرفض: {Reason}
                </p>



                <div class="mobile-text"
                     style="
              color: #00342b;
              font-family: Fund;
              font-size: 24px;
              font-weight: 400;
              line-height: 1.6;
            ">
                    يمكنكم الاطلاع على تفاصيل الطلب عبر الرابط أدناه:
                    <a href="{BaseURL}/synergy/{module}/{request-id}"
                       style="
                color: #00342b;
                text-decoration: underline;
                font-weight: 600;
              ">( Link )</a>
                    للدخول إلى الطلب..
                </div>
            </div>

            <hr style="height: 1px; border: none; background-color: #dfe3e6" />

            <div style="padding: 20px 0; text-align: right; direction: rtl">
                <div style="
              color: #00342b;
              font-family: Fund;
              font-size: 24px;
              font-weight: 700;
              line-height: normal;
              margin-bottom: 5px;
            ">
                    هل تحتاج المساعدة؟
                </div>

                <div style="
              color: #00342b;
              font-family: Fund;
              font-size: 18px;
              font-weight: 400;
              line-height: normal;
            ">
                    <a href="#" style="color: #00342b; text-decoration: underline">اتصل بفريق الدعم الفني</a>
                    يسرهم مساعدتك.
                </div>
            </div>

            <hr style="height: 1px; border: none; background-color: #dfe3e6" />

            <p style="color: #00342b; font-size: 16px; font-family: Fund">
                This is an automated email, please do not respond. Disclaimer Notice:
                This e-mail message, including any attachments, is for the sole use of
                the intended recipient(s) and may contain confidential and privileged
                information or otherwise protected by law. If you are not the intended
                recipient, you are notified that any unauthorized review, use,
                disclosure or distribution is strictly prohibited. Please notify the
                sender by replying to this email and destroy all copies of the
                original message. Statements and opinions expressed in this Email are
                those of the sender, and do not necessarily reflect those of the
                Public Investment Fund (PIF). تنبيه بإخلاء المسؤولية: هذه الرسالة
                ومرفقاتها معدة لاستخدام المُرسَل إليه المقصود بالرسالة فقط و قد تحتوي
                على معلومات سرية أو محمية قانونيا إن لم تكن الشخص المقصود، فإنه يُمنع
                منعا باتا عرض أو نشر أو أي استخدام غير مصرح به للمحتوى نرجو إخطار
                المُرسِل عن طريق الرد على هذا البريد الإلكتروني وإتلاف جميع النسخ
                الموجودة لديك تُعد التصريحات والآراء المذكورة في الرسالة خاصة
                بالمُرسِل ولا تمثل بالضرورة رأي صندوق الاستثمارات العامة
            </p>
        </div>
    </div>
</body>
</html>

